<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style=text-align:center>YENİ ÜRÜN EKLE</h2>
    <form th:action="@{/products}" th:object="${product}" method="post">
        <div class="form-group">
            <label>Ürün Adı:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
        </div>


        <div class=form-group>
            <label>Ürün Kategorisi:</label>
            <select class=form-control id=sel name=sel>
                <option>Kategori Seç</option>
                <option>Gıda</option>
            </select>
        </div>


        <div class="form-group">
            <label>Ürün Bilgisi:</label>
            <input type="text" class="form-control" name="information"  th:field="*{information}">
        </div>


        <div class="form-group">
            <label>Ürün Görselleri:</label>
            <br>


            <label>Ana Görsel</label>
            <input type="file" class="form-control-file border" name=file>
            <br>
            <label>Diğer Görseller</label>
            <input type="file" multiple class="form-control-file border" name="file">
        </div>

        <div class="form-group">
            <div class="form-check-inline">
                <label>Stok Durumu</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">Var
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">Yok
                    </label>
                </div>
            </div>
        </div>

        <div class=form-group>
            <label>Ürün Ağırlığı:</label>
            <input type="number" class=form-control name=weight>
        </div>


        <div class="form-group">
            <label>Ürün Fiyatı:</label>
            <input type="number" class=form-control name=price th:field="*{price}">
        </div>


        <div class="form-group">
            <label>İndirimli Fiyat:</label>
            <input type="number" class=form-control name=price>
        </div>

        <div class="form-group">
            <label>Teslim Süresi:</label>
            <input type="number" class=form-control name=leadTime th:field="*{leadTime}">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-success">KAYDET</button>
        </div>
    </form>
</div>
</body>
</html>
